<div class="row">
   <div class="col-md-4 mx-auto">
      <div class="card">
         <div class="card-header">
            Registra una cuenta
         </div>
         <div class="card-body">
            <form action="/users/signup" method="POST">
               <div class="form-group">
                  <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" value="{{nombre}}" required>
               </div>
               <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Ingresa tu email" value="{{email}}" required>
               </div>
               <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" value="{{password}}" required>
               </div>
               <div class="form-group">
                  <input type="password" name="confirm_password" class="form-control" placeholder="Confirma tu contraseña" value="{{confirm_password}}" required>
               </div>
               <div class="form-group">
                  <input type="text" name="numeroDeTarjeta" class="form-control" placeholder="Numero de tarjeta bancaria" value="{{numeroDeTarjeta}}" required>
               </div>
               <div class="form-group">
                  <input type="text" name="nombreTitular" class="form-control" placeholder="Nombre del titular" value="{{nombreTitular}}" required>
               </div>
               <button class="btn btn-primary btn-block">Registrar</button>
            </form>
         </div>
      </div>
   </div>
</div>